.lunaBlue {
    color: #0B2DC5;
    /*border-bottom: solid #0B2DC5;*/
    /*width: 307px;*/
}

.lead {
    font-size: 25px;
}

header {
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
}